.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 40px;
    background: #bbe8ff;
}
.third-level-menu > li:hover { background: #fff34e; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #b4ff7e;
}
.second-level-menu > li:hover { background: #fdc9ff; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #ff1919;
}
.top-level-menu > li:hover { background: #ff1919; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #aa42ff;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #b9c7b7; }

li a {
    display: block;
    color: rgb(255, 18, 18);
    text-align: center;
    padding: 14x 20x;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}
body {
    background-color: rgb(14, 35, 32);
    color: white;
  }

h1 {
    color: orange;
}

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 14px;
  }