ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(210, 247, 251);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14x 16x;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}